@model ContactReplyDto
@{
    ViewData["Title"] = "Mail Cevapla";
}
@section Head{
    <link rel="stylesheet" href="~/admin/plugins/summernote/summernote-bs4.min.css">
}
<!--Content Header (Page header)*-->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Mail Kutusu</h1>
            </div>
            <!--/.col*-->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Mail</a></li>
                    <li class="breadcrumb-item active">Mail Cevapla</li>
                </ol>
            </div>
            <!--/.col*-->
        </div>
        <!--/.row*-->
    </div>
    <!--/.container-fluid*-->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-md-3">
               
                    <partial name="MailBoxMenuPartial" />
                    <!-- /.card-body -->

            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">@Model.Subject Konulu Maile Cevap Yaz.</h3>
                    </div>
                    <form asp-area="Admin" asp-controller="MailBox" asp-action="Compose" method="post">
                        <div asp-validation-summary="All"></div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <input asp-for="EmailAdress" class="form-control" placeholder="Kime:">
                                <span asp-validation-for="EmailAdress"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Subject" class="form-control" placeholder="Konu:">
                                <span asp-validation-for="Subject"></span>
                            </div>
                            <div class="form-group">
                                <textarea asp-for="Message" id="Message" class="form-control" style="height: 600px">                                           
                    </textarea>
                                <span asp-validation-for="Message"></span>
                            </div>
                   
                            <input type="hidden" asp-for="Name" />
                            <input type="hidden" asp-for="EmailAdress" />
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button asp-area="Admin" asp-controller="MailBox" asp-action="Reply" type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>
                            </div>
                            <a asp-area="Admin" asp-controller="MailBox" asp-action="Index" class="btn btn-default"><i class="fas fa-times"></i> İptal</a>
                        </div>
                        <!-- /.card-footer -->
                    </form>

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
@section Scripts{
    <script src="~/admin/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            //Add text editor
            $('#Message').summernote({
                tabsize: 2,
                height: 300
            });
        })
    </script>
}