@model List<CategoryListDto>
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Kategoriler</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->

            @foreach (var category in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.Id">@category.CategoryName</a></h4>
                    </div>
                </div>
            }


        </div><!--/category-productsr-->
        <!--<div class="price-range">-->
        <!--price-range-->
        <!--<h2>Price Range</h2>
            <div class="well">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b>$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div>-->
        <!--/price-range-->
        @*<div class="shipping text-center">
                shipping
                <img src="/User/images/home/shipping.jpg" alt="" />
            </div>*@

    </div>
</div>